body {
    background-color: rgb(3, 159, 216);
  }
   h5 {
    font-size: 14px;
    font-family: arial, sans-serif;
   }
  .container1{
    text-align: center;
    justify-content: center;

  }
  .container{

    font-size: 14px;
    font-family: arial, sans-serif;
    color: #202124;
    display: flex;
    height: 40px;
    background: white;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    margin: 10px auto;
    max-width: 500px;
    right: inherit;
  }
  .input {
    border-radius: 24px;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    flex: 100%;
    height: auto;
    padding-left: 5px;
    font-size: 16px;
    max-width: 100%;
    width: 100%;
   }

input:focus::-webkit-input-placeholder {
    opacity: 0;
    border: solid 1.5px #9e9e9e;
}
/* ::placeholder {
  text-align: 
} */
input:focus::-moz-placeholder {
   opacity: 0;
   border: solid 1.5px #9e9e9e;
}
 
input:focus:-ms-input-placeholder {
    opacity: 0;
    border: solid 1.5px #9e9e9e;
}
 
input:focus:-moz-placeholder {
   opacity: 0;
   border: solid 1.5px #9e9e9e;
} 
.bigcircle{
  width: 5px;
  height: 5px;
  width: 5x;
  background-color: #693131;
  border-radius: 50%;
  background: white;
}
.circle{
  border: 15px solid #0f41a3;
  border-radius: 50%;
  max-width: 20px;
  max-height: 20px;
}
.container3{
  justify-items: center;
  align-content: center;
  display: flex;
  margin-left: 600px;
 
}
.minicc{
  justify-items: center;
  align-content: center;
  padding-left:40px;
  padding-top: 20px;
  padding-right:10px ;
  
}

.minicc img{

margin: 20px auto;
margin-left: 20px;
  
}